apiVersion: apps/v1
kind: Deployment
metadata:
  name: janni-web-deployment
spec:
  replicas: 1 # Wie viele Kopien sollen laufen?
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: webserver
        image: localhost/janni-webseite:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 80